<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />		
		<title>Maximon Gaming</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	</head>
	<body>
		<!--star header-->
		<div id="header" class="container-fluid"> 
			<div id="logo" class="card">
				<h1>MAXIMON GAMING</h1><h2>trang web giải trí , meme mặn!</h2>
			</div>			
		</div>
		<!--end header-->
		<!--star Menu-->
		<div id="menuContainer" class="container">
			<ul class="nav">
				<li class="nav-item">Con cu duy</li>
				<li class="nav-item">Giới thiệu</li>
				<li class="nav-item">Sản Phẩm</li>
				<li class="nav-item">Liên lạc</li>

			</ul>
		</div>
		<!--end Menu-->
		<!--star Conten page-->
		<div id="mainContainer" style="width: 100%; height: 2000px; background-color: #ffff00">

			từ từ gắn vô
			
		</div>
		<!--end page-->
	</body>
	<footer>
		<div id="footer" style="width: 100%; height: 200px; background-color: #ff0000">
			<a href="http://facebook.com/maximongaming">Cai gi o day cung duoc fbe</a>
			<a href="http://youtube.com/maximonchannel">Cai gi o day cung duoc youtube</a>	
		</div>
	</footer>
	
</html>